$font-stack:    Helvetica, sans-serif;
$board-border:    1px solid #727272;
$player-1-color: #317ee2;
$player-2-color: #ff8800;
$hover-color:   null;
$cell-border-radius: 4px;
$cell-selected-color: null;